


<div flex layout="row" layout-xs="column" layout-padding style="background-color:#000000;"ng-controller="defaultCtrl" ng-style="{'padding-left':$mdMedia('gt-sm')?'250px':'10px','padding-right':$mdMedia('gt-sm')?'250px':'10px'}">
    <div flex >
        <p class="md-title"style="color:white;font-size:15px">SITECORE SERVICES</p>
        <ul class="footer-site"ng-class="{'md-subhead':$mdMedia('gt-xs'),'md-caption':$mdMedia('xs')}">
            <li>
                <a rel="" target="" href="">Sitecore Development</a>
            </li>
            <li>
                <a rel="" target="" href="">Sitecore Consulting</a>
            </li>
            <li>
                <a rel="" target="" href="">Sitecore Digital Marketing Suite</a>
            </li>
            <li>
                <a rel="" target="" href="">Sitecore Ecommerce Integration</a>
            </li>
            <li>
                <a rel="" target="" href="">Sitecore Digital Marketing Suite</a>
            </li>
            <li>
                <a rel="" target="" href="">Sitecore Cross Channel Analytics</a>
            </li>
            <li>
                <a rel="" target="" href="">Sitecore Maintenance</a>
            </li>
        </ul>
    </div>
    <div flex>
        <p class="md-title"style="color:white;font-size:15px">UMBRACO SERVICES</p>
        <ul class="footer-site" ng-class="{'md-subhead':$mdMedia('gt-xs'),'md-caption':$mdMedia('xs')}">
            <li>
                <a rel="" target="" href="">Umbraco Development</a>
            </li>
            <li>
                <a rel="" target="" href="">Umbraco Consulting</a>
            </li>
            <li>
                <a rel="" target="" href="">Umbraco Maintenance</a>
            </li>
        </ul>
    </div>
    <div flex>
        <p class="md-title"style="color:white;font-size:15px;">TRANSLATION SERVICES</p>
        <ul class="footer-site"ng-class="{'md-subhead':$mdMedia('gt-xs'),'md-caption':$mdMedia('xs')}">
            <li>
                <a rel="" target="" href="">Sitecore Beebox Connector</a>
            </li>
            <li>
                <a rel="" target="" href="">Joomla Wordbee Connector</a>
            </li>   
           
        </ul>
    </div>
    <div flex style="color:white;">
        <p class="md-title"style="font-size:15px">ABOUT US </p>
        <ul class="footer-site"ng-class="{'md-subhead':$mdMedia('gt-xs'),'md-caption':$mdMedia('xs')}">
            <li>
                <a rel="" target="" href="/contact-us/">Contact Us</a>
            </li>
        </ul>
    </div>
    <div flex style="text-align:center;bottom:50px;">
        <a href="http://indiacansolutions.com/">
            <img src="../img/ican-logo.png">
        </a>
        <p style="color:#808080;font-size:12px;">Copyright 2011-2015 <br> ICAN,  All rights reserved.</p>
    </div>
</div>


<!-- for backtop -->

<img src="img/top.ico" id="return-to-top" style="position:fixed;bottom:20px;    right: 20px;    background: rgb(0, 0, 0,0.7);        height: 50px;    display: block;    text-decoration: none;    -webkit-border-radius: 35px;    -moz-border-radius: 35px;    border-radius: 35px;    display: none;    -webkit-transition: all 0.3s linear;    -moz-transition: all 0.3s ease;    -ms-transition: all 0.3s ease;    -o-transition: all 0.3s ease;    transition: all 0.3s ease;" />
<script src="js/backtotop.js"></script>
